* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.back {
    background: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav,
footer {
    background: #F39422;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3%;
}

.imgLogo {
    width: 80px;
}

a.subrayado:link {
    text-decoration: none;
    color: black;
}

.navBotones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav p,
.select {
    text-decoration: none;
    display: block;
    margin: 15px 15px 15px 30px;
    padding: 5px 0 5px 0;
    width: 150px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: black;
}

.selector {
    background: transparent;
    border: none;
    width: 140px;
    height: 65px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.selector:focus {
    background: #FFCE05;
    border: none;
    outline: green;
}

.navBotones div {
    color: #000000;
    font-size: 2em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Raleway', sans-serif;
}

.navBotones .amarillo:hover {
    background: #FFCE05;
    cursor: pointer;
}

.active {
    background: #FFCE05;
}

.container {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

.principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.principal img {
    width: 200px;
    height: 200px;
    margin-top: 3%;
    margin-right: 80px;
}

.principal div {
    width: 30%;
    padding: 0% 0% 0% 1%;
    margin: 8% 0% 0;
    font-size: 1.3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.texto {
    color: #000000;
    margin: 0% 0% 2% 5%;
    font-family: 'Montserrat', sans-serif;
}

.principal div a {
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 10px 20px;
    background: #F39422;
    border-radius: 10px;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin: 8% 0 0 10%;
    font-family: 'Raleway', sans-serif;
}

.principal div a:hover {
    background: rgb(255, 204, 1);
}

h1 {
    text-align: center;
    color: #F39422;
    margin: 20px 0 20px 0;
    font-family: 'Raleway', sans-serif;
}

.pokemones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}

.cajaPokemon {
    width: 18%;
    height: auto;
    background: #FFEDA5;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}

span {
    background: #F39422;
    width: 300px;
    min-height: 240px;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 0;
    right: -140px;
    z-index: 100;
}

.cajaPokemon:hover span {
    display: block;
}

.descripcion {
    margin: 25px 20px;
}

.fotos {
    display: block;
    margin: auto;
}

.nombres {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.cajaPokemon p {
    text-align: left;
    padding: 3px 0 0 8px;
}

footer {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer p {
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}


/* responsive celular */

@media (max-width: 667px) {
    .back {
        background: none;
    }
    nav {
        padding: 0;
        display: block;
    }
    .imgLogo {
        display: none;
    }
    .principal div {
        width: auto;
    }
    .principal img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .principal div a {
        margin-left: 120px;
    }
    .navBotones {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .navBotones div {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .selector {
        width: 100%;
        text-align: center;
        text-align-last: center;
    }
    select {
        text-align: center;
    }
    .nombres {
        font-size: 15px;
    }
    .cajaPokemon {
        width: 40%;
        margin-right: 10px;
    }
    span {
        width: 80%;
        top: 40px;
        font-size: 14px;
        left: 30px;
    }
}


/* responsive tablet */

@media (min-width:668px) and (max-width: 798px) {
    .imgLogo {
        display: none;
    }
    .back {
        background: none;
    }
    nav {
        padding: 0;
    }
    .navBotones {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding: 0;
    }
    .principal img {
        width: 250px;
        height: 250px;
        margin-top: 15%;
        margin-right: 70px;
    }
    .cajaPokemon {
        margin-right: auto;
        width: 30%;
    }
    span {
        width: 100%;
        left: 30px;
    }
}


/* responsive pantalla  */

@media (min-width:799px) and (max-width:1024px) {
    .back {
        background: none;
    }
    .navBotones {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .principal img {
        width: 300px;
        height: 300px;
        margin-top: 15%;
    }
    .cajaPokemon {
        margin-right: auto;
        width: 30%;
    }
    span {
        width: 100%;
        left: 30px;
    }
}

@media (min-width:1025px) and (max-width:1200px) {
    .nav {
        padding: 0;
    }
    .back {
        background: none;
    }
    .principal img {
        width: 400px;
        height: 400px;
        margin-right: 100px;
    }
}